# Backend Flask
flask>=3.0.0
flask-socketio>=5.3.6
flask-cors>=4.0.0
eventlet>=0.35.1
jinja2>=3.1.2

# Réseau / Scan
scapy>=2.5.0
paramiko>=3.4.0
requests>=2.31.0
cryptography>=41.0.7
pyOpenSSL>=23.3.0
zeroconf>=0.131.0
paho-mqtt>=1.6.1

# Desktop (fenêtre native)
pywebview>=4.0

# Build
pyinstaller>=6.0
